<h1>New Link</h1>

<%= render 'form' %>

<%= link_to 'Back to Links', root_path, class: "btn btn-default" %> <!-- changed from links_path to root_path and button added by Joseph Margolis-->
<!--  -->
